<header class="header h-16 flex items-center bg-primary">
    <div class="flex justify-between items-center w-[75%] mx-auto">
        <div class="text-white font-kalam text-base" (click)="navegar('/')"> 
            <p>Hungria</p>
            <p class="-mt-2">Pizzas</p>
        </div>
        <nav class="flex items-center justify-center gap-3">
            <ng-icon 
                name="iconoirUser" 
                class="text-white" 
                size="25"
                (click)="navegar('/perfil')"
            ></ng-icon>
            <ng-icon 
                name="tablerPizza" 
                class="text-white rotate-[140deg]" 
                size="25"
                (click)="navegar('/pizzas')"
            ></ng-icon>
            <ng-icon 
                name="featherShoppingCart" 
                class="text-white" 
                size="25"
                (click)="navegar('/carrinho')"
            ></ng-icon>
        </nav>
    </div>
</header>